@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
// Main Sass File



body{
    background-color: $bg-color;
    color: #fff;
    margin-top: 105px;
}

// .navbar-primary{
//     background: #000;
// }

// .navbar-secondary{
//     background: #fff;
// }
